---
interface Props {
	date: Date;
	showDaysAgo?: boolean;
}

const { date, showDaysAgo = false } = Astro.props;

const getLocalMidnight = (d: Date) => {
	return new Date(d.getFullYear(), d.getMonth(), d.getDate());
};

const today = getLocalMidnight(new Date());
const postDate = getLocalMidnight(new Date(date));

const daysAgo = Math.floor(
	(today.getTime() - postDate.getTime()) / (1000 * 60 * 60 * 24),
);
const daysAgoText =
	daysAgo < 0
		? "in the future"
		: daysAgo === 0
			? "today"
			: daysAgo === 1
				? "yesterday"
				: `${daysAgo} days ago`;
---

<time datetime={date.toISOString()}>
	{
		date.toLocaleDateString("en-us", {
			year: "numeric",
			month: "long",
			day: "numeric",
		})
	}
	{
		showDaysAgo && (
			<span style="color: var(--color-dim); margin-left: 0.5em;">
				({daysAgoText})
			</span>
		)
	}
</time>
